<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1}]')
});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="t1" data-view="Text" data-title="testing" data-moreinfo="Fixng incidents!"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="t2" data-view="Text" data-title="Demo" data-moreinfo="b4 deploy"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="a" data-view="Graph" data-title="Data A" data-cool="10" data-warm="62"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="b" data-view="Graph" data-title="B Board" data-cool="0" data-warm="42"></div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="c" data-view="Hotness" data-title="Colored Pxy Status" data-cool="0" data-warm="12"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="d" data-view="Graph" data-title="data from D" data-cool="0" data-warm="52"></div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="e" data-view="Graph" data-title="e" data-cool="-10" data-warm="12"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="f" data-view="Graph" data-title="Time data F" data-cool="22" data-warm="82"></div>
    </li>    
  </ul>
</div>
